In [1]:
import sqlite3
import pandas as pd

# 1. Підключення до бази даних
conn = sqlite3.connect("C:/Databases/charge_database_alt.sqlite")
# Завантаження таблиць
charging_df = pd.read_sql_query("SELECT * FROM ChargingSessions;", conn)
users_df = pd.read_sql_query("SELECT * FROM Users;", conn)

In [2]:
print("charger_type:", charging_df['charger_type'].unique())
print("user_type:", users_df['user_type'].unique())

charger_type: ['DC Fast Charger' 'Level 1' 'Level 2']
user_type: ['Commuter' 'Casual Driver' 'Long-Distance Traveler']

In [3]:
# One-Hot Encoding для charger_type
charging_encoded = pd.get_dummies(charging_df, columns=['charger_type'])

# One-Hot Encoding для user_type
users_encoded = pd.get_dummies(users_df, columns=['user_type'])

users_encoded.head()

,user_id,user_type_Casual Driver,user_type_Commuter,user_type_Long-Distance Traveler
0,User_1,False,True,False
1,User_2,True,False,False
2,User_3,False,True,False
3,User_4,False,False,True
4,User_5,False,False,True

In [4]:
charging_encoded.to_sql("ChargingSessions_Encoded", conn, if_exists="replace", index=False)
users_encoded.to_sql("Users_Encoded", conn, if_exists="replace", index=False)

conn.close()